*{
  box-sizing: border-box;
}

html { 
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  background-color: #212121;
  color: #fff;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  overflow-x: hidden;
}

/* UTILITY CLASSES ---------------------- */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.reversed {
  flex-direction: row-reverse;
  }


/* MAIN STYLES ------------------ */


li {
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

a:hover{
  color: #ffd150;
}

hr {
  border: 1px solid #000000;
  
}

/* HEADER */
header{
  position: relative;
  padding: 0 2rem;
  background-color: #3d3d3d;
}

.navbar{
  width: 100%;
  height: 80px;
  /*max-width: 1200px;
  margin: 0 auto;*/
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}

.links{
  background-color: #212121;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
  height: 40px;
}


.navbar .links{
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn{
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 920px){
  .navbar .toggle_btn{
    display: block;
  } 
}

.action_btn{
  color: black;
  padding: 0.5rem 1rem;
  border:none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale .2 ease;
  background: linear-gradient(180deg, #ffd150, rgba(255, 209, 80, 0.49) 99.99%, rgba(255, 209, 80, 0));
  box-shadow: -7px -7px 10px rgba(255, 255, 255, 0.25), 10px 10px 12px rgba(0, 0, 0, 0.25);

}

.action-btn:hover{
  scale: 1.05;
  color: white;
}

.action-btn:active{
  scale: 0.95;
}

.angle{
  background-color: #3d3d3d;
  border-radius: 15px;
  margin-top: 3px ;
  width: 15px;
 }

 #angle-one{
  background-color: #3d3d3d;
  border-radius: 15px;
  margin-top: 3px ;
  width: 15px;
 }

 .rotate180 {
  transform: rotate(180deg);
  transition: transform 0.3s ease; 
 }

 .titled{
  font-size: 13px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 #expand_less{
  margin-left: 20px;
 }


 .ellipse-img{
  width: 40px;
  height: 40px;
 }

/* DROPDOWN  */


/**,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

:root {
    /*--bg-color: #222429;*/
    /*--primary-bg-color: #3d3d3d;*/
   /* --primary-color: #2c62f6;*/
    --text-color: white;
    --text-active: #ffffff;
    /*--button-hover-bg-color: #2b2e34;*/
    --border-color: #ffd150;
    --dropdown-height: 0;
    --rotate-arrow: 0;
    --translate-value: 0;
    --list-opacity: 0;
    --transition-time: 0.6s;
    --transition-timing: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --border-radius: 50px;
    --list-button-height: 4.6rem;
    --floating-icon-size: 26;
    --floating-icon-top: 0;
    --floating-icon-left: 0;
}

body {
    margin: 0;
    padding: 0;
    /*background-color: #3d3d3d;*/
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 500;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
  }

.navbar-toggler {
    background-color: #fff;
}

#btn-login {
    margin-right: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 5px 10px 8px #0000005f;
}



/* after navbar */

.heros {
    font-family: sans-serif;
    font-size: 35px;
    color: #fff;

}

#lead {
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
}


button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

svg {
    height: 1.2rem;
    width: 1.2rem;
}

.text-truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    width: max-content;
    border-radius: var(--border-radius);
} */
.center-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    padding: 5px 10px;
    margin-top: 1%;
    width: max-content;
    border-radius: var(--border-radius);
}

li {
    list-style: none;
  }
  
 

.navbar-item,
.dropdown-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    padding: 0 10px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
}

.navbar-item,
.dropdown-title:hover,
.navbar-item:focus {
    color: #ffd150;
}

.navbar-item svg {
    transition: all var(--transition-time) var(--transition-timing);
    fill: var(--text-color);
}

.navbar-item:hover svg,
.navbar-item:focus svg {
    fill: var(--text-active);
}

/*.dropdown-arrow {
    transition: transform var(--transition-time) var(--transition-timing);
    transform: rotate(var(--rotate-arrow));
    margin-left: -5px;
}*/

.angle{
  transition: transform var(--transition-time) var(--transition-timing);
  transform: rotate(var(--rotate-arrow));
  margin-left: -5px;
}

.dropdown-list-container {
    overflow: hidden;
    max-height: var(--dropdown-height);
    transition: max-height var(--transition-time) var(--transition-timing);
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    min-width: 100%;
    z-index: 10;
}

.dropdown-list-wrapper {
   /* padding: 1rem;*/
   padding: 0;
    border-radius: 20px;
    border: 0.1rem solid var(--border-color);
    background-color: #3d3d3d;
}

ul.dropdown-list {
    list-style-type: none;
    padding: 0;
}

li.dropdown-list-item {
    position: relative;
    z-index: 1;
    opacity: var(--list-opacity);
    transition: opacity 0.8s var(--transition-timing);
   
}

li.dropdown-list-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 15px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

li.dropdown-list-item:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.list-button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--text-color);
    background: none;
    border: none;
    padding: 0.6rem;
    text-align: left;
    width: 100%;
}

.list-button:hover,
.list-button:focus {
    color: var(--text-active);
}

.dropdown-button {
    display: flex;
    align-items: center;
    width: 100%;
}


@media (max-width: 920px){
    .center-nav {
        display: none;
    }
    .action_btn{
        display: none;
    }
     .toggle_btn{
        display: block;
    }
}

 .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    
  }

/* Code that should be display when the hamburger menu is clicked on a mobile screen size */

.dropdown_menu {
    display: block;
    opacity: 0;
     position: absolute;
     border: 1px solid #ffd150;
     border-radius: 15px ;
     background-color: #3d3d3d;
     top: 100%;
     left: 10%;
     width: 80%;
     border-radius: 15px;
   }
   
   .dropdown_menu.open{
     opacity: 1;
    height: fit-content;
    z-index: 9;
   }
   
   .btn_t{
     display: flex;
     justify-content: center;
     align-items: center;
   }
   
   .cta_btn_t {
     padding: 10px 20px;
         width: 200px;
         margin: 20px;
         border-radius: 12px;
         font-weight: bold;
         border: none;
         background-color: #ffd150;
   
         
   }
   
   
   
   .nav_links_t{
     position: relative;
   }
   
   .dropdown_t {
     /*visibility: hidden;*/
     display: none; 
     position: relative;
     z-index: 99;
     opacity: 0; 
     width: max-content;
     border: 1px solid;
     border-color: #ffd150;
     border-radius: 15px;
     background-color: #3d3d3d;
     padding: 0px;
     transition: visibility 0s linear 0s , opacity 0.2s ease-in-out; 
   }
   
   .s_link{
    color: white;
     font-size: 18px;
     font-family: "Montserrat", sans-serif;
     padding: 10px;
     cursor: pointer;
   }

   .titled{
    font-size: 17px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   /*.nav_links_t > li:hover {
     color: #ffd150;
   }*/
   
   .nav_links_t > li:hover  .dropdown_t {
     /*visibility: visible; */
     display: block;
     opacity: 1; 
     transition: opacity 0.5s ease-in-out, visibility 0s linear 0s;
     /*top: 100%;
     left: 0%;
     width: max-content;*/
     width: 80%;
     padding: 10px;
   }


/*  HERO */
 
p{
font-weight: 500;
font-size: 20px;
line-height: 1.7em;
}

.head-text{
text-align: center;
   margin: 10px auto;
   max-width: 1200px;
}

.hero-text {
   text-align: center;
   margin: 10px auto;
   max-width: 700px;
 }

.hero-explainer{
  text-align: center;
  margin: 10px auto;
  max-width: 1250px;
}

h1{
   font-size: 30px;
   font-weight: 500;
}

h2{
 font-size: 28px;
 font-weight: 600;
}

h3{
   font-size: 22px;
   display: flex;
   text-align: center;
   margin-top: 65px;
   margin-bottom: 40px;
   padding-top: 20px;
}

button{
font-size: 20px;
font-weight: 500;
}

.btn {
   padding: 10px 20px;
   width: 200px;
  /* width: 20vw;
   min-width: 200px;*/
   margin: 20px;
   border-radius: 12px;
   font-weight: bold;
   border: none;
 }

 .btn:hover {
   cursor: pointer;
 }

 .primary {
  /* background-image: linear-gradient(to bottom, #FFD150, #d49e08);*/
  background: linear-gradient(180deg, #ffd150, rgba(255, 209, 80, 0.49) 99.99%, rgba(255, 209, 80, 0));
box-shadow: -7px -7px 10px rgba(255, 255, 255, 0.25), 10px 10px 12px rgba(0, 0, 0, 0.25);
 }
 
.secondary {
  /* background-image: linear-gradient(to bottom, #777676, #3d3745);*/
  background-color: #3d3d3d;
  box-shadow: -7px -7px 10px rgba(255, 255, 255, 0.25), 10px 10px 12px rgba(0, 0, 0, 0.25);
   color: whitesmoke;
}

.hero-image{
   display: flex;
   justify-content: center;
   align-items: center;
}

.block-text{
   margin: 20px;
   max-width: 45%;
}



/* Styling for the text block */
.block-text {
flex: 1; /* Allows the text block to grow and take up equal space */
padding: 0 20px; /* Adds some padding for spacing */
}

/* Styling for the image container */
.content-img-three {
flex: 1; /* Allows the image container to grow and take up equal space */
display: flex;
justify-content: center; /* Centers the image horizontally */
align-items: center; /* Centers the image vertically */
padding: 0 20px; /* Adds some padding for spacing */
}

.hero-block-one{
display: flex;
justify-content: space-between; 
align-items: center; 
padding: 20px;
}

.hero-block-img-one{
flex: 1 ; 
display: flex;
justify-content: center;
align-items: center; 
padding: 0 20px; 
}

.img-one{
  width: 300px;
  height: auto;
}
 
.img-five{
  width: 430px;
  left: 20px;
}

@media (max-width: 768px){
  .img-two{
    width: 400px;
    height: 400px;
  }
  .img-three{
    width: 430px;
    height: 400px;
  }
  .img-four{
    width: 430px;
    height: 390px;
  }
  .img-five{
    width: 400px;
    height: 420px;
  }
  .img-six{
    width: 450px;
    height: 400px;
  }
}

@media (max-width: 450px){
  .img-one{
    width: 320px;
  }
}

@media (max-width: 450px){
.hero-image-one{
  width: 340px;
}
}

.hero-block-two{
display: flex;
justify-content: space-between; 
align-items: center; 
flex-direction: row-reverse; 
padding: 20px; 
}

.hero-block-img-two{
flex: 1; 
display: flex;
justify-content: center; 
align-items: center; 
padding: 0 20px; 
}

.hero-block-three{
display: flex;
justify-content: space-between; 
align-items: center; 
padding: 20px;
}

.hero-block-img-three{
flex: 1; 
display: flex;
justify-content: center;
align-items: center; 
padding: 0 20px; 
}

.content-one{
display: flex;
justify-content: space-between; 
align-items: center; 
flex-direction: row-reverse; 
padding: 20px; 
}

.content-image-one{
flex: 1; 
display: flex;
justify-content: center; 
align-items: center; 
padding: 0 20px; 
}

.content-two{
display: flex;
justify-content: space-between; 
align-items: center; 
padding: 20px;
}

.content-img-two{
flex: 1; 
display: flex;
justify-content: center;
align-items: center; 
padding: 0 20px; 
}

.img-six{
width: 490px;
height: auto;
}

.card-container {
padding-top: 140px;
margin-top: 30px;
margin-bottom: 80px;
color: whitesmoke;
}

.card-holder {
position: relative;
background-color: #4d4949;
max-width: 800px;
z-index: 0;
padding: 30px 36px 20px 36px;
border-radius: 16px;
}

.card-container .image-icons {
z-index: 10;
position: absolute;
top: -160px;
}

.nick {
text-align: center;
margin-top: 40px;
color: #ffd150;
}

.descriptor {
max-width: 36ch;
text-align: center;
margin-bottom: 60px;
font-size: 20px;
}

@media(max-width: 450px){ 
  .descriptor{font-size: 16px;}}

.final-sale {
background-color: rgba(255, 209, 80, 0.9);
box-shadow: 0px 39px 56px -36px rgba(255, 255, 255, 0.5) inset, 0px 7px 11px -4px #fffafa inset, 0px -82px 68px -64px rgba(96, 68, 144, 0.3) inset, 0px 98px 100px -48px rgba(202, 172, 255, 0.3) inset, 0px 98px 100px -48px rgba(202, 172, 255, 0.3) inset, 0px 4px 18px rgba(154, 146, 210, 0.3) inset;
backdrop-filter: blur(100px);
color: #111;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}

.save-text {
padding: 40px;
color: #111;
text-align: center;
max-width: 56ch;
}

.btn-container {
justify-content: space-between;
align-items: center;
padding-bottom: 20px;
}

.final-btns {
width: 100%;
}

@media (max-width: 768px){
.final-btns{
display: block;
}
}

@media (max-width: 450px){
  .final-btns{
    width: 150px;
  }
 #btn-5{
  width: 170px;
 }
}

.rounded-btn-holder {
margin-right: 20px ; 
}

.secondary.rounded {
width: 40px;
height: 40px;
border-radius: 50%;
margin: 0 30px;
font-size: 20px;
color: whitesmoke;
border: none;
cursor: pointer;
}

@media screen and(max-width: 500px) {
.btn .secondary{
width: 200px;
}
.btn-container{
width: 100%;
}
}

.btn_container_p{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}


/* FOOTER SECTION */

footer {
  background-color: #212121;
  color: whitesmoke;
  padding: 60px 0;
}

h5{
color: #ffd150;
}

/* Footer styles */
.footer-items{
display: flex;
}


.footer-wrapper {
  display: flex;
  justify-content: space-evenly;
  
  flex-wrap: wrap;
  margin: 0px 50px 0px 50px;
}

.sign-off {
  gap: 20px;
  max-width: 350px;
}

.socials {
  gap: 20px;
  color: whitesmoke;
  margin-top: 50px;
}

.copyright-call{
  margin-top: 20px;
}

.footer-logo{
  width: 150px;
}
/*.footer-wrapper > div {
  flex: 1 1 200px; 
  margin-right: 20px; 
}*/

.footer-wrapper div p a { 
  color: whitesmoke;
  text-decoration: none;
  font-size: 14px;
}

.footer-wrapper .item p a:hover{
  color: #ffd150;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .footer-wrapper > div {
    flex-basis: calc(50% - 40px);
    gap: 40px; 
  }
}

@media screen and (max-width: 480px) {
  .footer-wrapper > div {
    flex-basis: 100%; 
  }
}


/* Footer ending */

.hero-block-one > * {
flex: 1 1 70%; 
max-width: 45%;
}

.hero-block-two > * {
flex: 1 1 75%; 
max-width: 45%;
}

.hero-block-three > * {
flex: 1 1 75%; 
max-width: 45%;
}

.content-one > * {
flex: 1 1 75%; 
max-width: 45%;
}

@media (max-width: 500px){
}
.content-two > * {
flex: 1 1 75%; 
max-width: 45%;
}  


@media (max-width: 768px){
.hero-text {
 max-width: 85%;
  }
  
  .content-two{
   display: flex;
   justify-content: center;
   align-items: center; /* This aligns the children vertically in the center */
   flex-wrap: wrap;
   padding: 20px; /* Adds some padding around the content */
  }

  .content-one{
   display: flex;
   justify-content: center;
   align-items: center; /* This aligns the children vertically in the center */
   flex-direction: row-reverse; /* Reverses the order of flex items (because of the "reversed" class) */
   flex-wrap: wrap;
   padding: 20px; /* Adds some padding around the content */
  }

  .hero-block-three{
   display: flex;
   justify-content: center;
   align-items: center; /* This aligns the children vertically in the center */
   flex-wrap: wrap;
   padding: 20px; /* Adds some padding around the content */
  }

  .hero-block-two{
   display: flex;
   justify-content: center;
   align-items: center; /* This aligns the children vertically in the center */
   flex-direction: row-reverse; /* Reverses the order of flex items (because of the "reversed" class) */
   flex-wrap: wrap;
   padding: 20px; /* Adds some padding around the content */
  }

  
  .hero-block-one{
   display: flex;
   justify-content: center;
   align-items: center; /* This aligns the children vertically in the center */
   flex-wrap: wrap;
   padding: 20px; /* Adds some padding around the content */
  }


 
.hero-block-one > * {
flex: 1 1 80%; 
max-width: 85%;
}

.hero-block-two > * {
flex: 1 1 75%; 
max-width: 85%;
}

.hero-block-three > * {
flex: 1 1 75%; 
max-width: 85%;
}

.content-one > * {
flex: 1 1 75%; 
max-width: 85%;
}
.content-two > * {
flex: 1 1 75%; 
max-width: 85%;
} 

.block-text{
 padding: 0px;
}
h2{
 font-size: 25px;
 font-weight: 600;
}

p{
 font-weight: 500;
 font-size: 21px;
}

}

@media( max-width: 500px){
h2{
  font-size: 22px;
}
p{
  font-size: 18px;
}
h1{
  font-size: 22px;
}
}

/* screens smaller than 375px */

@media (max-width: 375px){
  .hero-image-one{
    width: 300px;
  }

  h1{
    font-size: 20px;
  }
  p{
    font-size: 16px;
  }

  h2{
    font-size: 18px;
  }
  h3{
    font-size: 17px;
  }
  
  }

  /* RESIZING IMAGES FOR DIFFERENT SCREEN SIZES */
  @media ( max-width: 350px){
    .image-icons{
      width: 270px;
    }
   .img-one{
    width: 270px;
   }
   .card-holder{
    width: 270px;
   }
   #btn-5{
    width: 150px;
    margin: 0px;
    font-size: 15px;
   }
  }

  @media (max-width: 500px){
   .img-two{
    position: relative;
    left: 10%;
    width: 260px;
    height: auto;
   }

   .img-three{
    position: relative;
    width: 320px;
    right: 10%;
    height: auto;
   }
   .img-four{
     position: relative;
     width: 320px;
     height: auto;
   }
   .img-five{
    position: relative;
    width: 280px;
    right: 20%;
    height: auto;
   }
   .img-six{
    position: relative;
    width: 300px;
    height: auto;
   }
  }

  @media (max-width: 370px){
    .card-container .image-icons {
      top: -270px;
    }
  }

  @media (max-width: 315px){
    .img-three{
      position: relative;
      left: 1%;
      width: 260px;
    }
    .img-four{
      width: 270px;
    }
    .img-five{
      width: 250px;
      right: 15%;
    }
  }